body {
    padding-top: 70px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.avatar {
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 2px;
}

table tr td {
    padding-left: 0;
    padding-right: 0;
}

.pager-active {
    color: darkcyan;
}

.pager-inactive {
    color: transparent;
}


/* table links */
a,
a:hover,
a:focus {
    text-decoration: none !important;
}

tr.hover {
    cursor: pointer;
}

.label-ban {
    background-color: darkred;
}

.label-mute {
    background-color: dimgrey;
}

.label-warn {
    background-color: darkorange;
}

.label-kick {
    background-color: tomato;
}
