body {
    padding-top: 70px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.avatar {
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 2px;
}
