#logo {
	margin-left:2%;	
}
body {
	background: white;
	height: 100%;
    width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	 overflow-x: hidden;
}
#main {
	margin-left:2%;
	margin-right:2%;
	background-color:white;
	padding:10px 10px;
	border-radius:5px;
	margin-bottom:2%;
	min-height:100px;
	height:inherit;
}
nav {
	background-color:white;
	width:auto;
}
li a {
	color:#282828;
}
li:hover {
	background-color:white;
}
.navbar {
	margin-left:1%;
	margin-right:1%;
}
html,body {
    overflow-x: hidden;
}
#server-status {
	font-family:'Open Sans';
	font-size:1em;
}
#green {
	color:green;
}
th, td, tr {
    border-bottom: 1px solid #ddd;
}
.hoverable:hover {
	background-image:white.png;
}
